body {
    background-color: #211056;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background: url(https://s3.amazonaws.com/media-p.slid.es/uploads/741672/images/5128138/base-02.jpg) no-repeat scroll center center transparent;
    background-size: cover;
}

h1 {
    font-size: 90px;
    color: #7DECFE;
}

p {
    font-size: 25px;
}